Package: com.tuanem.ytbackground
Name: YTBackground
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Background Playback for YouTube 1.0.0+
Maintainer: Tuanem
Author: Tuanem
Section: Tweaks
